html {
  height: 100%;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.App {
  text-align: center;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ff4d4d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
}

.pokeImages {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.pokeballImage {
  max-width: 50%;
  height: auto;
  animation-name: spinPokeball;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 

.thePokemon {

}

@keyframes spinPokeball {
  100% {transform: rotate(360deg);}
}

.visuals {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.statsVisuals {
  
}
